#calendar_mobile_emplvmedit table.calendar {
	border-collapse: collapse;
}
/* ======================================== */
#calendar_mobile_emplvmedit table.calendar thead {
	margin-bottom: 3px;
	background-color: #888;
	color: white;
}
#calendar_mobile_emplvmedit table.calendar thead th {
	padding: 10px 3px;
	font-weight: normal;
}
#calendar_mobile_emplvmedit table.calendar thead th.bolder {
	font-weight: bold;
}
/* ======================================== */
#calendar_mobile_emplvmedit table.calendar tbody {
	font-size: 0.8em;
}
#calendar_mobile_emplvmedit table.calendar td {
	padding: 5px;
	background-color: white;
	border: 1px solid rgba(185, 185, 185, 0.13);
	text-align: center;
	cursor: pointer;
	pointer-events: auto;
}
#calendar_mobile_emplvmedit table.calendar tr:last-child td {
	
}
#calendar_mobile_emplvmedit table.calendar td.month-name {
	font-weight: bold;
	text-align: left;
	cursor: default;
}
#calendar_mobile_emplvmedit table.calendar td.prev-month,
#calendar_mobile_emplvmedit table.calendar td.next-month {
	color: transparent;
	cursor: default;
	pointer-events: none;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=');
}
#calendar_mobile_emplvmedit table.calendar td.week-separator {
	width: 8px;
	min-width: 0;
	padding: 0;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=');
	pointer-events: none;
}
#calendar_mobile_emplvmedit table.calendar td.bolder {
	font-weight: bold;
}

/* Single selected day
#calendar_mobile_emplvmedit table.calendar td.selected {
	background-color: orangered;
	color: white;
	font-weight: bold;
} */

/* ======================================== */
#calendar_mobile_emplvmedit table.calendar td.weekend {
	background: #E8E8E8;
	font-style: italic;
	font-weight: bold;
	pointer-events: none;
}
#calendar_mobile_emplvmedit table.calendar td.vacation_days {
	background: #FFA07A;
	color: white;
	font-weight: bold;
	pointer-events: auto;
}
#calendar_mobile_emplvmedit table.calendar td.other_days {
	background: #B84B9E;
	color: white;
	font-weight: bold;
	pointer-events: auto;
}
#calendar_mobile_emplvmedit table.calendar td.public_holidays {
	background: #5F9EA0;
	color: white;
	font-weight: bold;
	pointer-events: none;
}
#calendar_mobile_emplvmedit table.calendar td.conflicting_days {
	background: #FF0000;
	color: white;
	font-weight: bold;
	pointer-events: auto;
}

/* ========== Controls ========== */
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls {
	margin: 0 auto 12px;
	display: table;
	font-size: 25px;
	line-height: 35px;
}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div {
	display: inline;
}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.current-year {
	margin: 0;
	padding: 0 5px;
	color: #666;
	font-weight: bold;
	pointer-events: none;
}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.control {
	visibility: hidden;
	position: relative;
	font-weight: bolder;
	cursor: pointer;

}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.control:first-of-type {

}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.control:first-of-type:before {
	visibility: visible;
	font-family: FontAwesome;
	font-size: 1.7rem;
	color: #666;
	content: "\f0d9";
}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.control:hover:before {
	color: slategray;
}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.control:last-of-type {

}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.control:last-of-type:after {
	visibility: visible;
	font-family: FontAwesome;
	font-size: 1.7rem;
	color: #666;
	content: "\f0da";
}
#emplVMEdit_container #calendar_mobile_calendarcontrols div.calendar-controls div.control:hover:after {
	color: slategray;
}

@media (min-width: 1275px) {
	#emplVMEdit_container #calendar_buttons {
		margin: 50px 0 0 0;
	}
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* §§§§§§§§§§ MOBILE §§§§§§§§§§ */
/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

@media (max-width: 1275px) {
	#emplVMEdit_container #calendar_header {
		background: white;
		color: #343a40;
		border: none;
		border-radius: 0;
		text-align: center;
	}

	/* Reset margin & padding all across the calendar */
	#emplVMEdit_container #calendar_mobile_emplvmedit * {
		margin: 0;
	}

	#emplVMEdit_container #calendar_mobile_emplvmedit {
		border: 0;
		margin: -38px 0 -30px 0;
	}
	/* ======================================== */
	#calendar_mobile_emplvmedit table.calendar {
		border-collapse: separate; 
		border-spacing: 0 3em;
	}
	/* ======================================== */
	#calendar_mobile_emplvmedit table.calendar thead {
		display: none;
	}
	#calendar_mobile_emplvmedit table.calendar thead th {
		
	}
	#calendar_mobile_emplvmedit table.calendar thead th.bolder {
		
	}
	/* ======================================== */
	#calendar_mobile_emplvmedit table.calendar tbody {
		
	}
	#calendar_mobile_emplvmedit table.calendar tr {
		
	}

	#calendar_mobile_emplvmedit table.calendar td {
		/* width: calc(100% / 7 - 2px * 7 - 5px); */
		width: calc(100% / 7);
		display: inline-block;
		border: 1px solid rgba(185, 185, 185, 0.33);
	}
	#calendar_mobile_emplvmedit table.calendar tr:last-child td {
		border: 1px solid rgba(185, 185, 185, 0.33);
	}
	#calendar_mobile_emplvmedit table.calendar td.month-name {
		width: 100%;
		background: #CCC;
		text-align: center;
	}
	#calendar_mobile_emplvmedit table.calendar td.prev-month,
	#calendar_mobile_emplvmedit table.calendar td.next-month {
		background: #FFF;
		padding: 15px;
		border: none;
	}
	#calendar_mobile_emplvmedit table.calendar td.week-separator {
		display: none;
	}
	#calendar_mobile_emplvmedit table.calendar td.bolder {
		
	}
	/* ======================================== */
	#emplVMEdit_container #calendar_buttons {
		margin: 100px 0 0 0;
	}
	/* ======================================== */
	#emplVMEdit_container table tr td.totalMonth {
		float: right;
		background: #888;
		color: white;
		font-weight: bold;
	}

	#emplVMEdit_container table tr td.totalMonth::before {
		width: 200px;
		content: "Total: ";
	}

	#emplVMEdit_container table tr:last-of-type td.totalMonth {
		background-color: #888;
		border-bottom: 0;
	}

	#emplVMEdit_container .yearTotalCell {
		background: #666;
		color: white;
		font-weight: bold;
		margin: -5px 0 0 0;
		border: 1px solid #5A5A5A;
	}
}